*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0; 
    border: 0;
}
header { width: 100%; 
list-style: none ;
padding: 50px;/* abstand zur oberen Kante */
padding-bottom: 1%;
display: block;
margin: 35px 0px 0px 0px;
text-align: center;
font-family: "chrysante"; /* mein schrift den ich runtergeladen habe */
font-style: italic;
font-size:medium;
font-weight: 100;
color: rgb(0, 0, 0);
} 

ul {list-style: none;
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;}
li {display: inline; /* um HOME und andere Links horizontal zu platzieren */
    margin-right: 40px;} /* abstand zwischen den Links mehr machen */
a { display: inline-block;
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    } 
h2 {
    font-family: "Playfair Display SC', serif";
    position: relative; /* um Überschrift auf dem Bild zu bewegen */
    color: rgba(255, 255, 255, 0.776);
    font-size: small;
    font-weight: 100; /* schrift dünner */
    bottom: -180px;
    left: 120px;
}

/* nach oben Menu */

@font-face { /* mein Schrift */
    font-family: "chrysante";  
    src: url("../fonts/Chrysante/ChrysantepersonaluseBold.ttf") 
    format("truetype"); 
    }
   /* alles nach oben ist das gleiche wie bei jedem page:menu, elvira dederer fotografie */ 


div.hintergrund { /* grauer Hintergrund */
    height: 600px;
    background-size: cover;
    background-position: center;
    background-attachment: sticky;
    margin-top: 2%;
    background-color: rgba(205, 205, 205, 0.495);
    position: relative;
}

img { /* me */
    width: 300px ;
    position: absolute;
    right: 4vw;
    margin-top: 2vh;
    
}


.hintergrund h1 {padding-top:20px ;   /* h1 Kontaktiere mich */
    position: relative; /* um Überschrift auf dem Bild zu bewegen */
    color: rgba(0, 0, 0, 0.776);
    font-size: larger;
    text-align: center;
    font-weight: 100;
}
.text p {
    margin-top: 40px; /* text */
    position: absolute;
       
    margin-left: 4vw;
    min-width: 70vw;
    height: 20vh;
    line-height: 1.8;
    font-size:medium;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.776);}

/* Form unten: */


form { /* wie mache ich es in center??? */
	margin-left: 4vw;
    margin-top: 2vh;
    display: flex;
	flex-flow: column;
    width: 80%;
    
}
label {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* clip -bilder abschneiden */
  
}
.field1, .field2, button {
    width: 50%;
}

.field1, .field2, textarea {
	margin: 0 .5em 1em 0;
	padding: .5em 1em;
	border: 1px solid #CCC;
}

.textarea {
	width: 50%;
    height: 200px;
}
.button {
	padding: .5em 1em;
	border: 1px solid #CCC;
	background-color: rgb(214, 206, 206);
	color: #FFF;
    }